body{
  background: #ffe4e1;
  margin: 0 auto;
}

header{
  background: #ffe4e1;
  border-bottom: 1px solid #ffe4e1;
  text-align: center;
}

header h1{
  text-decoration: none;
  text-transform: uppercase;
}

header li img{
  width: 85%;
  height: auto;
}

.site-navigation {
    font-size: 82px;
    font-family: 'BeyondTheMountains';
    text-align: center;
}

.site-navigation a {
    color: #deb887;
    text-decoration: none;
}

.site-navigation ul {
    padding: 0;
    margin: 0;
}

.site-navigation ul li {
    display: block;
    padding: 10px 0;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    color: #deb887;
}

.site-navigation ul li a {
    display: block;
    padding: 4px 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    color: #000;
    transition: all 0.35s;
    text-decoration: none;
}

.site-navigation ul li a:hover,
.site-navigation ul li.current-menu-item a {
    border-color: #deb887;
}
